*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2) 100%), url(./images/mink-mingle-IX6vgLXvNSY-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;

    flex-direction: column;
    justify-content: flex-end;
    display: flex;

    nav {
        padding: 10px 0;
        h1{
            text-align: center;
        }
    }
    
    .text {
        padding: 0 1rem;

        h1,h5{
            color: #f2f2f2;
        }
    }

    form {
        padding: 0 1rem;

        input[type="text"], button{
            border:none;
            padding: 20px;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 1rem;
        }
        button{
            margin-top: 3rem;
        }
    }
}



