@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.2) 100%), url(./images/mink-mingle-IX6vgLXvNSY-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
}
.login nav {
  padding: 10px 0;
}
.login nav h1 {
  text-align: center;
}
.login .text {
  padding: 0 1rem;
}
.login .text h1, .login .text h5 {
  color: #f2f2f2;
}
.login form {
  padding: 0 1rem;
}
.login form input[type=text], .login form button {
  border: none;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}
.login form button {
  margin-top: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.item {
  background-color: #ffffff;
  margin: 5px 10px 5px 0;
  display: flex;
  box-shadow: 0 0 6px 0px #dddddd;
  border-radius: 10px;
  place-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.item-promotion {
  margin: 5px 10px 5px 0;
  box-shadow: 0 0 6px 0px #dddddd;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-blue {
  background-color: #020eb4;
}

.card-green {
  background-color: #02b44c;
}

.search {
  position: relative;
  margin: 0 1rem;
}
.search input[type=text] {
  border: none;
  font-size: 1rem;
  color: #737373;
  box-shadow: 0 0 6px 0px #dddddd;
  width: 100%;
  padding: 15px 10px 15px 40px;
  border-radius: 25px;
  outline: none;
}
.search input[type=text]::placeholder {
  color: #a1a1a1;
}
.search i {
  position: absolute;
  left: 15px;
  top: 15px;
}

.menu {
  margin: 1rem 0;
}
.menu img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  background: #f1f1f1;
}

.last-order h3 {
  margin: 1rem;
}
.last-order img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  background: #f1f1f1;
}
.last-order h5 {
  margin: 10px 0;
}
.last-order .size {
  background-color: #e6e6e6;
  font-size: 0.8rem;
  padding: 5px 8px;
  border-radius: 50%;
}
.last-order .price {
  font-size: 0.8rem;
  margin: 10px 0;
  font-weight: 600;
}
.last-order .bt-add {
  background-color: #b40202;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 25px;
  font-size: 0.8rem;
  border-radius: 8px 8px 0 0;
  position: absolute;
  bottom: 0;
}

.promotions {
  padding: 0 0 6rem 0;
}
.promotions .title h3 {
  color: #ffffff;
}
.promotions .image img {
  width: 100%;
  height: 148px;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 0px 10px 10px 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 0;
  background-color: #b40202;
  width: 100%;
}
nav .link-item img {
  width: 30px;
  height: 30px;
  color: #ffffff;
}
nav .active {
  padding: 1rem;
  background-color: #b40202;
  border: 5px solid #ffffff;
  border-radius: 50%;
  transform: translateY(-15px);
}

/*# sourceMappingURL=style.css.map */
